.all{
    display: flex;
    width: 100%;
}
.left{
    width: 700px;
    height: 100%;
    background: rgb(67, 56, 41);
    border-style: none;
    border-radius: 5% 0 0 5%;
    overflow-y: auto;
    
}

  .left::-webkit-scrollbar {
    width: 16px;
  }
  .left::-webkit-scrollbar-thumb {
    background-color: rgb(208, 172, 122);
    height: 50%;
  }
  .left::-webkit-scrollbar-track {
    background-color: ivory;
  }


.header{
    height: 50px;
}

.bodyList{
    display: flex;
    height: 600px;
    justify-content: center;
}

.left-area {
    display: flex;
    justify-content: center;
    height: 70px;
    margin-top: 10%;
}

.left-area-div{
    display: flex;
    height:70px;
    margin-top: 20px;
}

.left-area-div-input{
    background: rgb(255, 255, 255);
    height: 44px;
    border-radius: 3px;

}

.left-list-div{
    display: flex;
    justify-content: left;
    margin-top: 30px;
    cursor: pointer;
    -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.left-list-div:hover{
    margin-left: -20px;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

.member-search{
    color: white;
    width: 50px;
    border-radius: 10%;
    height: 50px;
    background: rgb(199 167 135);
    cursor: pointer;
}

.member-search:hover {
    background-color: rgb(205, 165, 130);
}

.member-search:active {
	position:relative;
	top:1px;
    box-shadow: 0 0 rgb(205, 165, 130);
    background-color: rgb(127 92 74);
}


.list-member{
    width: 450px;
    height: 500px;
}

.member-title{
    margin-left: 20px;
    color: bisque;
    list-style: none;
}

.left-list-div > input{
    width: 50px;
    height: 50pX;
    border-radius: 20px;
}

.right{
    width: 700px;
    height: 100%;
    background: ivory;
    border-radius: 5%;
    margin-left: 70px;
    border: 2px solid rgb(199 167 135);
    color: black;
    border-radius: 0 5% 5% 0;
}

.right-area{
    padding : 19px;
    height: 740px;
}


#memInfo{
    width: 50%;
    height: 60px;
    margin-top: 30px;
    border: 2px solid rgb(199 167 135);
    border-radius: 10px;
    padding: 5px;
    border-radius: 0 5% 5% 0;
}

.deleteButton{
    margin-top: 60px;
    justify-items: center;

}


.deleteBtnMem{
    width: 40%;
    height: 50px;
    color: white;
    background: rgb(67, 56, 41);
    border-radius: 5px;
    cursor: pointer;
    box-shadow:0px 4px 0px rgb(67, 56, 41);
}

.deleteBtnMem:hover {
    background-color: rgb(205, 165, 130);
}

.deleteBtnMem:active {
	position:relative;
	top:1px;
    box-shadow: 0 0 rgb(67, 56, 41);
    background-color: rgb(205, 165, 130);
}