<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<resultMap id="memberResultSet" type="Member">
		<result column="MEM_NO" property="memNo"/>
		<result column="MEM_ID" property="memId"/>
		<result column="MEM_PWD" property="memPwd"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="STATUS" property="status"/>
	</resultMap>

	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT MEM_NO,
			   MEM_ID,
			   MEM_PWD,
			   PHONE,
			   EMAIL,
			   STATUS
		FROM MEMBER
	   WHERE MEM_ID = #{memId}
	   	 AND MEM_PWD = #{memPwd}
	   	 AND STATUS = 'Y'
	</select>


</mapper>