<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
<resultMap id="memberResultSet" type="Member">
	<result column="MEM_NO" property="memberNo" />
	<result column="MEM_ID" property="memberId" />
	<result column="MEM_PWD" property="memberPwd" />
	<result column="PHONE" property="phone" />
	<result column="EMAIL" property="email" />
	<result column="STATUS" property="status" />
</resultMap>

	<select id="loginUser" parameterType="Member" resultMap="memberResultSet">
			SELECT MEM_NO,
				   MEM_ID,
				   MEM_PWD,
				   PHONE,
				   EMAIL,
				   STATUS
			FROM MEMBER
		   WHERE MEM_ID = #{memberId}
		    AND  MEM_PWD = #{memberPwd}
		    AND  STATUS = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="Member">
			INSERT 
				INTO MEMBER
				(
				  MEM_NO,
				  MEM_ID,
				  MEM_PWD,
				  PHONE,
				  EMAIL
				)
			VALUES
			(
			   SEQ_MEM_NO.NEXTVAL,
			   #{memberId},
			   #{memberPwd},
			   #{phone},
			   #{email}
			)
	</insert>
	<select id="searchMember" parameterType="Member" resultMap="memberResultSet">
		SELECT MEM_NO,
			   MEM_ID,
			   MEM_PWD,
			   PHONE,
			   EMAIL,
			   STATUS
		 FROM MEMBER
		WHERE PHONE = #{phone}
		 AND  EMAIL = #{email}
		 AND  STATUS='Y'
	</select>
	<select id="searchMemberPwd" parameterType="Member" resultMap="memberResultSet">
		SELECT MEM_NO,
			   MEM_ID,
			   MEM_PWD,
			   PHONE,
			   EMAIL,
			   STATUS
		 FROM MEMBER
		WHERE MEM_ID = #{memberId}
		 AND  PHONE = #{phone}
		 AND  EMAIL = #{email}
		 AND  STATUS='Y'
	</select>
	<select id="idCheck" parameterType="Member">
		SELECT COUNT(*) "COUNT"
	  	 FROM MEMBER
	 	WHERE USER_ID = ?
	</select>	
	<select id="selectMemberTitleList" parameterType="Member" resultMap="memberResultSet">
			SELECT MEM_NO, 
						MEM_ID
				FROM MEMBER
			WHERE STATUS = 'Y'
	</select>
		<select id="selectSearchMember" resultMap="memberResultSet">
			SELECT MEM_NO, 
						MEM_ID
				FROM MEMBER
			WHERE STATUS = 'Y'
			AND MEM_ID LIKE '%' || #{keyword} || '%'
			ORDER BY MEM_NO DESC
	</select>
	<select id="selectDetailMember" resultMap="memberResultSet">
			SELECT MEM_NO, 
						 MEM_ID,
						 EMAIL,
						 PHONE
				FROM MEMBER
			WHERE MEM_NO = #{memberNo}
	</select>
	 <update id="deleteMember">
  				UPDATE MEMBER
						SET STATUS = 'N'
				WHERE  MEM_NO = #{memberNo}
  	</update>
  	<update id="updateMember">
		UPDATE MEMBER
		SET PHONE = #{phone},
			EMAIL = #{email}
		WHERE MEM_ID = #{memberId}
	</update>
	<select id="selectMember" resultMap="memberResultSet">
		SELECT MEM_NO,
			   MEM_ID,
			   MEM_PWD,
			   EMAIL,
			   PHONE
	     FROM MEMBER
	    WHERE MEM_ID = #{memberId}
	</select>
</mapper>