<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="musicMapper">

	<resultMap id="MusicResultSet" type="Music">
		<result column="MUS_NO" property="musNo"/>
		<result column="MUS_NAME" property="musName"/>
		<result column="MUS_ART" property="musArt"/>
		<result column="MUS_GEN" property="musGen"/>
		<result column="MUS_TIME" property="musTime"/>
		<result column="MUS_MV" property="musMv"/>
		<result column="STATUS" property="status"/>
		<result column="COUNT" property="count"/>
		<result column="ALBUM_PATH" property="albumPath"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="ROWNUM" property="rownum"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MUSIC
		WHERE STATUS = 'Y'
	</select>
	<select id="selectList" resultMap="MusicResultSet">
		SELECT ROWNUM,
		        MUS_NO,
					MUS_NAME,
					MUS_ART,
					MUS_GEN,
					MUS_TIME,
					MUS_MV,
					STATUS,
					COUNT,
					ALBUM_PATH,
					ENROLL_DATE
		FROM (SELECT MUS_NO,
					MUS_NAME,
					MUS_ART,
					MUS_GEN,
					MUS_TIME,
					MUS_MV,
					STATUS,
					COUNT,
					ALBUM_PATH,
					ENROLL_DATE
				FROM MUSIC
				WHERE STATUS = 'Y'
				ORDER BY COUNT DESC)
	</select>
	<select id="selectMusicTitleList" parameterType="Music" resultMap="MusicResultSet">
				SELECT MUS_NO, 
							MUS_NAME
					FROM MUSIC
				WHERE STATUS = 'Y'
	</select>
	<select id="selectNewList" resultMap="MusicResultSet">
		SELECT  MUS_NAME,
		        MUS_ART,
		        ALBUM_PATH
		FROM(SELECT MUS_NAME,
		        	MUS_ART,
		        	ALBUM_PATH
			FROM MUSIC
			ORDER BY ENROLL_DATE DESC)
		WHERE ROWNUM <![CDATA[<]]>= 15
	</select>
	<select id="selectSearchMusic" resultMap="MusicResultSet">
				SELECT MUS_NO,
							 MUS_NAME
					FROM MUSIC
				WHERE STATUS = 'Y'
				   AND MUS_NAME LIKE '%' || #{keyword} || '%'
				   ORDER BY MUS_NO DESC
	</select>
	<select id="selectDetailMusic" resultMap="MusicResultSet">
				SELECT     MUS_NO, 
							MUS_NAME,
								MUS_ART,
								MUS_GEN
					FROM MUSIC
				WHERE MUS_NO = #{musNo}
	</select>
	<insert id="insertMusic" parameterType="Music">
			INSERT 
				INTO MUSIC
				(
				  MUS_NO,
				  MUS_NAME,
				  MUS_ART,
				  MUS_GEN,
				  MUS_TIME
				)
			VALUES
			(
			   SEQ_MUS_NO.NEXTVAL,
			   #{musName},
			   #{musArt},
			   #{musGen},
			   '3:00'
			)
	</insert>
  		<update id="updateMusic">
  			UPDATE MUSIC
   				  SET MUS_NAME = #{musName},
   						 MUS_ART = #{musArt},
   						 MUS_GEN = #{musGen}
   				  WHERE MUS_NO = #{musNo}
  		</update>
  		<update id="deleteMusic">
  				UPDATE MUSIC
						SET STATUS = 'N'
				WHERE MUS_NO = #{musNo}
  		</update>
</mapper>