<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="playlistMapper">

	<resultMap id="PlaylistResultSet" type="Playlist">
		<result column="MUS_NO" property="musNo"/>
		<result column="MEM_NO" property="memberNo" />
		<result column="MUS_NAME" property="musName"/>
		<result column="MUS_ART" property="musArt"/>
		<result column="MUS_TIME" property="musTime"/>					
		<result column="ALBUM_PATH" property="albumPath"/>			
		<result column="STATUS" property="status"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	<select id="selectPlaylist" resultMap="PlaylistResultSet">
        SELECT MU.MUS_NAME,
				MU.MUS_ART,
				MU.MUS_TIME,
 				FILE_PATH,
				CHANGE_NAME
		FROM PLAYLIST P
           JOIN MUSIC MU ON (MU.MUS_NO = P.MUS_NO)
           JOIN MEMBER ME ON (ME.MEM_NO = P.MEM_NO)
           JOIN ATTACHMENT ON (MU.MUS_NO = REF_MNO)
		WHERE ME.MEM_NO = #{memberNo}
	</select>
	<!-- WHERE P.STATUS = 'Y' 
	 AND ME.MEM_NO = #{memberNo}; -->
	
	<insert id="insertPlayList">
		INSERT INTO PLAYLIST (
								MUS_NO,
								MEM_NO,
								STATUS)
		VALUES (	#{musNo},
					#{memberNo},
					'Y'
				)
	</insert>
</mapper>