<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="videoMapper">
  
  <resultMap id="MusicResultSet" type="Music">
		<result column="MUS_NO" property="musNo"/>
		<result column="MUS_NAME" property="musName"/>
		<result column="MUS_ART" property="musArt"/>
		<result column="MUS_GEN" property="musGen"/>
		<result column="MUS_TIME" property="musTime"/>
		<result column="MUS_MV" property="musMv"/>
		<result column="STATUS" property="status"/>
		<result column="COUNT" property="count"/>
		<result column="ALBUM_PATH" property="albumPath"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="ROWNUM" property="rownum"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="CHANGE_NAME" property="changeName"/>
	</resultMap>
	
  	<select id="selectTopList" resultMap="MusicResultSet">
		SELECT MUS_NAME,MUS_ART,FILE_PATH,CHANGE_NAME
			FROM(   SELECT M.MUS_NAME,
			               M.MUS_ART,
			               FILE_PATH,
			               CHANGE_NAME
			FROM MUSIC M, ATTACHMENT A
			WHERE M.STATUS = 'Y'
				AND M.MUS_NO = A.REF_MNO
			ORDER BY COUNT DESC)
		WHERE ROWNUM BETWEEN 1 AND 6
		
	</select>
  </mapper>