 body {
    background: url('<%=contextPath%>/resources/images/background.png') no-repeat center center fixed; /* '이미지경로.jpg'를 실제 배경 이미지 경로로 교체하세요. */
    background-size: cover;
}

.memberInput{
	position: relative;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    background: white; 
    border-radius: 15px;
    margin-top: 100px;
    border: 1px solid rgb(89 89 89 / 21%);
    color: white; 
    padding: 20px;
}

.input-table > input{
    width: 400px;
    height: 40px;
    padding: 6px 12px;
    resize: none;
    font-size: 14px;
    margin-bottom: 20px;
}

#memberInfo{
    margin-top: 30px;
    border-radius: 10px;
    padding: 5px;
}


#btn-member{
	background: rgb(67, 56, 41);
    color: white;
    border-radius: 5px;
    width: 500px;
    height: 45px;
    margin-bottom: 50px;
}

.input-table{
	width: 600px;
    height: 60px;
    padding: 6px 12px;
    resize: none;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
}

.p-style{
	position: relative;
    font-weight: bolder;
    font-size: 23px;
    left: -380px;
    bottom: -39px;
    color: black;
}

.p-style2{
	position: relative;
    font-weight: bolder;
    font-size: 23px;
    left: -380px;
    bottom: -48px;
    color: black;
}

.inputGroup-table{
	display:flex;
	flex-direction: column;
    align-items: center;
}

.h1-style{
	margin-bottom: -75px;
    margin-top: 40px;
    font-size: 36px;
}

body {
	margin: 0;
    padding-top: 80px;
    padding-left: 310px;
    padding-right: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(30 30 27 / 71%);
    z-index:1px;
}

.btn-close{
	margin-left: 1400px;
    margin-top: 10px;
}