.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 260px;
    right: 0;
    z-index: 199;
    background-color: rgb(205, 165, 130);
    border-bottom: 1px solid rgb(133, 90, 71);

}

.left-section{
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 300;
    height: 55px;

}


.left-section img.player-menu{

    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}


.middle-section{
    display: flex;
    align-items: center;
    max-width: 625px;
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
}


.player-bar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    /*flex-direction: row | column */
    height: 40px;
	background: rgba(63, 47, 34, 0.9);
	border-radius: 12px 12px 12px 12px;   
	flex: 1px;
	text-align: center;
}

.album-thumb{
    border-radius: 5px;
    height: 40px;
    width: 40px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.right-section{
    width: 150px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}


.btn-login{
    background-color: rgb(133, 90, 71);
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 25px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
}

.playlist{
    color: rgba(63, 47, 34, 0.9);
}



/* 상단 재생 바 정렬 */
.musicplayer-lefttime{
    position: absolute;
    bottom: 8px;
    right: 384px;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    border-radius: 2px;
    padding: 1px 4px;
    color: white;
    text-align: right;
}

.musicplayer-playtime{
    position: absolute;
    bottom: 8px;
    right: 830px;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    border-radius: 2px;
    padding: 1px 4px;
    color: white;
    text-align: right;
}

    .flex-item{
        color: black;
        text-align: center;
    }
    .item1{
        align-self: flex-start;
        order: 3;
        flex: 1;
    }
    .time{
        align-self:flex-end;
        color: rgba(152, 152, 152, 0.792);
        font-size: 12px;
        order: 1;
    }
    .time1{
        align-self:flex-end;
        color: rgba(152, 152, 152, 0.792);
        font-size: 12px;
        order: 1;
    }
    .mp_info{
        color: white;
        flex: 1;
        order: 1;
    }
    .align{
    position: relative;
    right: 15px;
    }
    
    
    /*볼륨*/
    
    .volume{
	display: flex;
	margin-left: 10px;
	align-items: center;
	accent-color: rgb(133, 90, 71);
	}
	
	.vol-btn{
		width: 35px;
		cursor: pointer;
	}
	.vol-btn:hover{
		scale: 1.1;
	}
	
