P{
    margin: 0;
}

 
.createPlayList {
    justify-content: center;
  }
 
  .ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 3px;
    margin-inline-end: -34px;
    padding-inline-start: 40px;
}


  .removePlayList {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.profile-button{
	width: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: unset;
    padding-left: 26px;
    
}

.a_button{
    cursor: pointer;

}

	#top100{
		border: 1px;
		text-align: center;
		width: 100%;
	}
	#top100 > thead > tr > th, #top100 > tbody > tr > td{
		font-size: medium;
		font-weight: bolder;
		color: black;
	}
	#top100 > thead > tr > th{
		border-bottom: 8px solid rgb(255, 252, 227);
	}
	#top100 > tbody > tr > td{
		height: 35px;
		padding-top: 10px;
		color: white;
	}
	#top100 > tbody > tr:hover{
		opacity: 0.9;
	}
	#top100 > tbody > tr > td > a > img:hover{
		scale: 1.2;
	}
	a{
	cursor: pointer;
	}
	.music-row{
	background: rgba(77,58,44,0.7365);
	color: white;
	}
	.page-link{
	background-color:transparent;
	background: rgba(77,58,44,0.7365);
	color: white;
	scale: 1.1;
	margin: 6px;
	}