/* .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */


.video-grid{
    display: flex;
    align-items: center;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 749px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 750px) and (max-width: 999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.thumbnail{
    display: flex;
    align-items: center;
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.thumbnail:hover{
    opacity: 0.9; 
    /* opacity대신에 어두워지게끔
    */
}


.video-time{
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-size: 12px;
    font-weight: 900;
    text-align: right;
    border-radius: 2px;
    padding: 1px 4px;
    color: black;
    text-align: right;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture > img{
    width: 36px;
    border-radius: 50px;
}

.video-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}



.video-author,
.video-stats{
    font-size: 12px;
    color: #aaaaaa;
}

@media (min-width: 1000px) {
    .top100grid-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.music-detail{
    position: absolute;
    left: 5px;
    right: 5px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 2px;
    padding: 1px 4px;
    background: rgba(65, 64, 64, 0.668);
    color: rgb(255, 255, 255);
}

.music-grid{
    display:flex;
    background: rgba(204, 91, 35, 0.9);
    border-radius: 15px;
    margin-top: 40px;
}

.top100part{
    position: absolute;
    z-index: 4;
    width: 280px;
    padding: 40px 0 0 40px;
    font-size: 22px;
    font-weight: 800;
    line-height: 40px;
    color: #fff;
}

.top100info{
    font-size: 23px;
    font-weight: 100;
    line-height: 20px;
    color: #fff;
}

.music-grid > div {
    flex: 1;
}
@media (min-width: 1000px) {
    .top100grid-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.modal-header > .btn-close{
    position: relative;
    top: -35px;
    background-color: #8b8b8b;
    border-radius: 25px 25px 25px 25px;
}

.modal-header > h2{
    margin-left: 300px;
    font-weight: bold
}

.modal-footer .link-style a{
    color: rgb(218, 15, 71);
}

.modal-body{
	flex-direction: column;
    height: 250px;
    display: flex;
    justify-content: center;
} 

.modal-loginButton{
    background: rgb(67, 56, 41);
    color: white;
    border-radius: 5px;
    width: 400px;
    height: 45px;
    z-index: 200;
    position: relative;
}

.memberIcon {
	width: 200px;
	border-radius: 5px;
	bottom: -4px;
}

.modal-style{
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header{
    border-bottom: none;
}

.modal-footer{
	border-top: none;
	margin-top: -100px;
}

.input-modal {
    width: 400px;
    height: 40px;
    padding: 6px 12px;
    resize: none;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 4px;
}

body{
	
	    margin: 0;
    padding-top: 80px;
    padding-left: 310px;
    padding-right: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    /* background-image: url(/SemiProject/resources/images/background.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-color: rgb(30 30 27 / 71%);
}

.enroll{
position: absolute;
    left: 200px;
}
.searchId{
position: absolute;
    left: 355px;
}
.searchPwd{
    position: absolute;
    left: 500px;
}


#top100List img{
    width: 150px;
}

#top100List p {
	margin: 0;
    position: relative;
    left: 160px;
    top: -100px;
    color: white;
}

#top100List{
	display: grid;
    column-gap: 16px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    margin-left: -50px;
    margin-top: 20px;
    margin-right: 50px;
}

.top100play-btn{
	width: 165px;
    margin-top: 75px;
}

.speech-bubble {
    position: relative;
    background-color: rgb(228, 183, 8); 
    padding: 10px; 
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 455px; 
    height: 50px; 
    margin-bottom: 20px; 
}

.speech-bubble::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px; 
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.top100-h1 {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0; 
    width: 300px;
}